.container{
    /* border: 1px solid black; */
    width: 100%;
    /* min-height: 700%; */
    display: flex;
}

.sideBar{
    /* border: 1px solid black; */
    width: 20%;
    min-height: 700px;
    background-color: #ece1f7;
    text-align: start;
    padding: 1%;
}


.box{
    /* border: 1px solid black; */
    width: 80%;
    min-height: 700px;
   
}
.boxContainer{
    /* border: 1px solid black; */
    width: 80%;
    height: 60%;
    margin-left: 10%;
    
}

.textBox{
    /* border: 1px solid black; */
    width: 80%;
    height: 8%;
    margin-left: 10%;
    margin-top: 10%;
    text-align: start;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media screen and (max-width: 768px) {
    .container{
        /* border: 1px solid black; */
        width: 100%;
        background-color: #ece1f7;
        display: block;
    }

    .sideBar{
        /* border: 1px solid black; */
        width: 100%;
        max-height: 200px;
        background-color: #ece1f7;
        text-align: start;
        /* padding: 1%; */
    }

    .box{
        /* border: 1px solid black; */
        width: 100%;
        min-height: 700px;
        display: block;
        margin-top: -60%;
    }
    
  }